# obvious ignores
.idea/workspace.xml
.idea/vcs.xml
modules.xml
*.iml
out/*

# suggested online for Kotlin project
!/lib/**/*.jar
/bin/
/build/
/.gradle/

# Suggested for Kotlin in IntelliJ
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
